    @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */
      
	/* Autohide bookmark toolbar */
	#PersonalToolbar {
		visibility: collapse !important;
	}

	#navigator-toolbox:hover > #PersonalToolbar {
		visibility: visible !important;
		margin-top: -8px !important;
  		margin-bottom: -8px !important;
	}
    /* Kill bookmark icons in the Personal Toolbar */
    toolbarbutton.bookmark-item > .toolbarbutton-icon {
      display: none;
    }

    /* Kill "normal" bookmark icons in the bookmarks menu */
    menuitem.bookmark-item > .menu-iconic-left {
      display: none;
    }
     
    #urlbar {
        height: 10px;
    }
    #searchbar {
        height: 10px;
    }
  	
/* Tab bar */

#TabsToolbar {
  -moz-appearance: none !important;
  height: 23px !important;
  min-height: 18px !important;
 /* margin-top: -4px !important;*/
  margin-bottom: -2px !important;
  background: transparent !important;
  border: 0 !important;*/
}
    toolbarbutton.tab-item > .toolbarbutton-icon {
      display: none;
    }


.titlebar-placeholder, #titlebar-buttonbox-container #titlebar-buttonbox {display:none!important;}
/*Frank Icon and Text Mode....
.toolbarbutton-text {
   display: -moz-box !important;
}   
*/ /*Frank Text Only Mode....*/ /*    .toolbarbutton-text { display: -moz-box !important; }   .toolbarbutton-icon {
       display : none !important;}
*/
/*Frank Small Icon Mode...*/
#back-button > .toolbarbutton-icon {
  border-radius: 0px !important;
  -moz-image-region: rect(0, 54px, 18px, 36px) !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

osearchbar er-tabs {max-height : 10px !important;}
.tab-content,.tabs-newtab-button { margin-bottom: 5px !important;} 

autocomplete-textbox::-moz-placeholder,#urlbar .autocomplete-textbox::-moz-placeholder {  color: transparent !important; }
